---
import Logo from "./Logo.astro";
import SocialLinks from "./SocialLinks.astro";
import { routes } from "./Nav.astro";

---
<footer class="bg-brand-dark-purple px-4">
    <div class="container pt-20 pb-12">
        <div class="pt-5 pb-12 grid align-top md:justify-items-center grid-cols-2 md:grid-cols-3">
            <div aria-label="logo" class="hidden md:block self-start">
                <Logo class="text-4xl" />
                <p class="inline">© 2022</p>
            </div>
            <nav aria-label="page links">
                <p class="font-semibold py-2 text-brand-light-blue">Sitemap</p>
                <ul class="text-brand-link-blue space-y-4">
                    {routes.map(({display, pathname}) => <li><a href={pathname}>{display}</a></li>)}
                </ul>
            </nav>
            <SocialLinks />
        </div>
    </div>
</footer>