---
const { props } = Astro
---
<a class={"inline-flex items-center justify-center space-x-1 text-4xl" + props.class} href="/">
    <span class="whitespace-nowrap font-display font-bold"><span class="text-brand-dark-red">R</span><span class="text-brand-dark-green">M</span></span>
</a>
