---
import { routes } from './Nav.astro'

import { Icon } from 'astro-icon'
---
<div id="nav" class={`fixed bottom-0 md:hidden w-full p-3 backdrop-blur-md bg-[rgba(26,26,47,0.7)] text-brand-light-blue shadow-sm shadow-brand-dark-red-analogous z-40`}>
    <div class="container flex items-center justify-center">
            <!-- <Logo /> -->
        <nav class="w-full px-2">
            <ul class="flex jusify-around">
                {routes.map(({display, iconName, pathname})=>
                    <li class="w-full py-1 px-2 rounded hover:bg-brand-dark-green-analogous transition-colors">
                        <a  
                            aria-current={Astro.request.url.pathname === pathname ? 'page':'false' }
                            class={`${Astro.request.url.pathname === pathname ? 'text-brand-dark-green' :''} flex flex-col items-center justify-around font-medium`} 
                            href={pathname}
                        >
                            <Icon class="w-5" name={iconName} />
                            <span class="text-xs flex-1">{display}</span>
                        </a>
                    </li>
                )}
            </ul>
        </nav>
    </div>
</div>