---
import Logo from "./Logo.astro";

export const routes = [
  { display: "Home", iconName: "ion:home-sharp", pathname: "/" },
  { display: "Writings", iconName: "ion:newspaper-sharp", pathname: "/writings" },
  { display: "Notes", iconName: "ion:document-attach", pathname: "/notes" },
  { display: "Work", iconName: "ion:briefcase-sharp", pathname: "/work" },
  { display: "Projects", iconName: "ion:construct-sharp", pathname: "/projects" },
];
---
<div id="nav" class={`hidden md:block sticky top-[-1px] p-4 backdrop-blur-md bg-[rgba(26,26,47,0.7)] text-brand-light-blue shadow-sm shadow-brand-dark-red-analogous z-40`}>
    <div class="flex container items-center justify-between">
        <Logo />
        <nav class="mx-auto sm:mx-0">
            <ul class="flex space-x-4">
                {routes.map(({display, pathname})=>
                    <li>
                        <a  
                            aria-current={Astro.request.url.pathname === pathname ? 'page':'false' }
                            class={`${Astro.request.url.pathname === pathname ? 'bg-brand-dark-green-analogous' :''} font-medium leading-none py-1 px-2 rounded hover:text-brand-dark-green transition-colors`} 
                            href={pathname}
                        >
                            {display}
                        </a>
                    </li>
                )}
            </ul>
        </nav>
    </div>
</div>
<script hoist>
const stickyElm = document.querySelector('#nav')

const observer = new IntersectionObserver( 
  ([e]) => e.target.classList.toggle('isStick', e.intersectionRatio < 1),
  {threshold: [1]}
);

observer.observe(stickyElm)
</script>
<style>
    .isStick {
        padding: 0.25rem;
        transition: 150ms all ease-in-out;
    }
</style>