---
export interface Props {
    type?: 'info' | 'warning'
    message: string
}
const { type = 'info', message } = Astro.props
---
<div class="p-4 bg-brand-dark-green-analogous">
    <p class={`${type === 'info' ? '' : ''} max-w-3xl mx-auto text-brand-dark-green`} role="alert">
        {message}
    </p>
</div>