---
const [_, ...rest] = Astro.request.url.pathname.split('/')
let links = [
    {
        text: 'Home',
        slug:'/'
    },
    ...rest.map(l => ({ 
            text: l[0].toUpperCase() + l.slice(1),
            slug: `/${l}`
        }))
]

links.pop()
---

<nav aria-label='breadcrumbs'>
    <ul class="flex text-brand-light-blue">
        {links.map(({text, slug}) => 
            <li>
                <a class="text-brand-link-blue" href={slug}>{text}</a>
            </li>
        )}
    </ul>
</nav>

<style>
    li::after {
        content: '>';
        margin-right: 8px
    }
    li:last-child::after {
        content: none;
    }
</style>